.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

}

.modal-closed {
  display: none;
}

.modal-open {
  display: block;
  overflow-y: initial;

}

.modal-body {
  height: 80vh;
}

.App div {
  width: 100%
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.start-here {
  width: 50px;
  height: 50px;
  animation: pulse 2s infinite;
}

/* .start-here:hover {
  animation-play-state: paused;
  filter: brightness(0.7);
} */
.start-here:hover {
  animation: pulse-hover 0.1s ease-out forwards;
  filter: brightness(0.7);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-hover {
  to {
    transform: scale(1.08);
  }
}

.list-item {
  margin-bottom: 3rem;

}

.list-item :after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.list-item-grid {
  display: grid;
  position: relative;
  padding-bottom: 0.25rem;

}

@media (min-width: 640px) {
  .list-item-grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .list-item-grid .md\:gap-4 {
    gap: 1rem;
  }
}

.absolute-inset {
  position: absolute;
  border-radius: 0.375rem;
  top: -1rem;
  bottom: -1rem;
}

@media (min-width: 1024px) {
  .absolute-inset {
    left: -1.5rem;
    right: -1.5rem;
    display: block;

  }
}
