.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

}

.modal-closed {
  display: none;
}

.modal-open {
  display: block;
  overflow-y: initial;
  
}

.App div {
  width: 100%
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.start-here {
  width: 50px;
  height: 50px;
  /* animation: bounce 2s infinite; */
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}